<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Quyền truy cập vị trí chính xác (dựa trên GPS) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Quyền truy cập vị trí gần đúng (dựa trên Wi-Fi và mạng di động) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Quyền truy cập vị trí khi ứng dụng chạy nền (nếu cần) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <queries>
        <intent>
            <action android:name="vn.zalopay.sdk.pay" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Technical"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:targetApi="31">
        <activity
            android:name=".activity.PaymentMethodActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PaymentExActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment"
                    android:path="/callback"
                    android:scheme="myapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SuccessPaymentActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="com.example.app_technical_admin" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PaymentSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".activity.InformationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PromotionActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyOrderActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdminChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MessageAIActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserInforActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AccountActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity.MeetingUserActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".activity.OrderStatusActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AdvertisingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.YoutubeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.StatisticActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UserActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ViewOrderActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ViewOrderUserActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PaymentActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="payment-result"
                    android:scheme="momomomonpmp20210629" />
                <data
                    android:host="vnpay_return"
                    android:scheme="momomomonpmp20210629" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="demozpdk"
                    android:host="app" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:exported="true"> <!-- Đổi từ false thành true -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="bs00480btec.firebaseapp.com"
                    android:pathPrefix="/__/auth/links"
                    android:scheme="https" />
            </intent-filter>
        </activity> <!-- Đặt RegisterActivity là màn hình khởi chạy đầu tiên -->
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LaptopActivity"
            android:exported="true" />
        <activity
            android:name=".activity.PhoneActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />

        <service
            android:name=".Service.FirebaseMessagerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>